<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>EducaData</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/educadata.css" rel="stylesheet">

  <script type="text/javascript" src="js/jquery.min.js"></script>

</head>
<body>

    <div class="container">

      <div class="masthead">
        <h3 class="muted">EducaData</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li <%= 'class="active"' if request.path =="/" %>><a href="/">Inicio</a></li>
                <li <%= 'class="active"' if request.path =="/inversion_en_educacion" %>><a href="/inversion_en_educacion">
                    Inversión
                </a></li>
                <li <%= 'class="active"' if request.path =="/gasto_x_alumno" %>><a href="/gasto_x_alumno">
                  Gasto por alumno
                </a></li>
                <li <%= 'class="active"' if request.path =="/evolucion_indicadores" %>><a href="/evolucion_indicadores">
                  Evolución indicadores
                </a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <%= yield %>

      <hr>

      <div class="footer">
        <p>Hecho por 
          <a href="http://twitter.com/dianasai">@dianasai</a>, 
          <a href="http://twitter.com/battochia">@battochia</a>, 
          <a href="http://twitter.com/joaquinvicente">@joaquinvicente</a>, 
          <a href="http://twitter.com/luke_ar">@luke_ar</a>, 
          <a href="http://twitter.com/cristianrasch">@cristianrasch</a> y 
          <a href="http://twitter.com/ceneon">@ceneon</a>
            para #HackatonProgramAR</p>
      </div>

    </div> <!-- /container -->



</body>
</html>